@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("/public/fonts/Unbounded-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat-SemiBold.ttf");
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "Bebasneue";
  src: url("/public/fonts/BebasNeue-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Chilanka";
  src: url("/public/fonts/Chilanka-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "AnekKannada";
  src: url("/public/fonts/AnekKannada-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
